<%# <div style="margin-bottom: 200px;"> %>
  <div class="banner">
    <div class="container">
      <div class="pikachu-logo"></div>
      <% @cards.each do |card| %>
      <%= link_to image_tag(card.image), "#", class: "cards-pokemon" %>
      <% end %>
    </div>
  </div>
<%# </div> %>
