<%# déplacer le formulaire de recherche dans le layout modal navbar
http://localhost:3000/cards/search?query=pikatchu %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div>
        <% if @cards.any? %>
          <% @cards.each do |card| %>
            <h4><%= link_to image_tag(card.image), class: "cards-pokemon" %></h4>
          <% end %>
        <% else %>
          <em>Sorry, no cards found.</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
