
  <div  data-controller="swipe">
    <%= link_to root_path, class: "arrow" do %>
      <%= image_tag asset_path('back-arrow.png') %>
    <% end %>
      <div  class="container-search" data-swipe-target="cards">
      <h1></h1>
        <% if @cards.any? %>
          <% @cards.each do |card| %>
              <div class="card-profil-search">
                <%= image_tag(card.image, {data: { card_id: card.id }  } ) %>
              </div>
          <% end %>
        <% else %>
          <h1><em>Sorry, no cards found.</em><h1>
        <% end %>
      <div class="icone"><i class="fa-solid fa-heart-crack" style="color: #19466e;"></i>
      | <i class="fa-solid fa-heart" style="color: #19466e;"></i>
      </div>
  </div>
</div>
