
  <div  data-controller="swipe">
    <%= link_to root_path, class: "arrow" do %>
      <%= image_tag asset_path('back-arrow.png') %>
    <% end %>
      <div  class="container-search" data-swipe-target="cards">
      <h1>   <- Unlike                |                Like -> </h1>
        <% if @cards.any? %>
          <% @cards.each do |card| %>
              <div class="card-profil-search">
                <%= image_tag(card.image, {data: { card_id: card.id }  } ) %>
              </div>
          <% end %>
        <% else %>
          <h1><em>Sorry, no cards found.</em><h1>
        <% end %>
      <i class="fa-solid fa-arrows-left-right">Swipe</i>
  </div>
</div>
Swipe
