body {
  background:rgb(36,142,172);

  // #1EA4DD
  background: linear-gradient(180deg, rgba(36,142,172,1) 00%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: scroll;
  z-index: 1;
}
.container-show {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.container-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  h1 {
    height: 650px;
  }
  // background: scroll;
}
.container-show-exchange {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: scroll;
  img {
    width: 200px;
  }
  h2 {
    margin-top: 60px;
    margin-bottom: 16px;
    padding: 16px;
    color: #19466e;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #F9D2A2 48%);
    border: 1px solid #F9D2A2;
    width: 400px;
    font-size: 26px;
  }
}

