body {
  background: rgb(36,142,172);
  background: linear-gradient(180deg, rgba(36,142,172,1) 00%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: scroll;
  position: relative;
  z-index: 1;
}
