.update-card {
  // display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 30%;
  // width: 40%;
  // margin-top: 20px;
}

.notification {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 8px;
  background-color: #ffe557;
}
