.update-card {
  // display: flex;
  justify-content: center;
  align-items: center;
  // margin-left: 30%;
  // width: 40%;
  // margin-top: 20px;
}

.display-notification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  font-family: 'Pixelify Sans', sans-serif;
  margin: 8px;
  background-color: #ffbc54;
}
.button {
  font-family: 'Pixelify Sans', sans-serif;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592875) 3%, #EFB7E9 48%);
  width: 140px;
  color: #19466e;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
}
