.card-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, rgba(46, 147, 174, 0.7637429971988796) 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  border-radius: 8px;
  cursor: pointer;

  .deconect {
    position: absolute;
    top: 165px;
    right: 14px;
    height: 34px;
  }

  .back-arraw {
    position: absolute;
    top: 14px;
    left: 14px;
  }
}


.onglet-profil-large1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #41B4B2 48%);
  margin: 8px;
  position: relative;
  height: 238px;
  border: 1px solid #87C4C2;
  border-radius: 8px;

  h2 {
    margin: 16px;
  }

  .litle-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 8px;
    margin-bottom: 8px;

    .img-onglet {
      width: 114px;
      height: 144px;
    }

  }
}

.onglet-profil-large2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #E1E2A9 48%);
  margin: 8px;
  position: relative;
  height: 238px;
  border: 1px solid #87C4C2;
  border-radius: 8px;

  h2 {
    margin: 16px;
  }

  .litle-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 8px;
    margin-bottom: 8px;

    .img-onglet {
      width: 114px;
      height: 144px;
    }

  }
}

.onglet-profil {
  display: flex;
  flex-direction: column;

  .block {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
    margin-right: 8px;
  }

  .onglet-profil-small1 {
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #88B3C4;
    color: white;
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 0px;
    margin-top: 16px;
    border-bottom: 1px solid white;
    height: 100px;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #FCB5B5 48%);
    border: 1px solid #87C4C2;
    border-radius: 8px;
    display: flex;
  }

  .onglet-profil-small2 {
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #88B3C4;
    color: white;
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 0px;
    margin-top: 16px;
    border-bottom: 1px solid white;
    height: 100px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #EFB7E9 48%);
    border: 1px solid #87C4C2;
    border-radius: 8px;
    display: flex;
  }

  .onglet-profil-small3 {
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #88B3C4;
    color: white;
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 0px;
    margin-top: 16px;
    border-bottom: 1px solid white;
    height: 100px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #F9D2A2 48%);
    border: 1px solid #87C4C2;
    border-radius: 8px;
    display: flex;
  }

  .onglet-profil-small4 {
    justify-content: space-around;
    align-items: center;
    width: 200px;
    background-color: #88B3C4;
    color: white;
    font-size: 15px;
    font-family: 'Pixelify Sans', sans-serif;
    padding: 0px;
    margin-top: 16px;
    border-bottom: 1px solid white;
    height: 100px;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #6899C6 48%);
    border-radius: 8px;
    border: 1px solid #87C4C2;
    display: flex;
  }
}


.display-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  a {
    width: 50%;
  }
  h2 {
    font-size: 18px;
    margin: 16px;
  }
  .pokemon-cards {
    margin-top: 36px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    margin: 14px;
    height: 250px;

    &pokemon-card:hover {
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.8);
    }
  }

  .card-dashboard {
    // margin-top: 20px;
    position: relative;
    font-family: 'Pixelify Sans', sans-serif;

    .form-filter-update {
      margin: 8px;
      padding-left: 12px;
      align-items: center;
    }


    .delete-card {
      position: absolute;
      top: 8px;
      right: -2px;
    }
  }


}

.card-show {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: 100px;
    justify-self: center;
    width: 350px;
    z-index: 6;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}

.card-show-qr {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
  }
  h2 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  img {
    margin-top: 24px;
    margin-bottom: 24px;
    justify-self: center;
    width: 350px;
    z-index: 6;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}

.card-profil-show {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #F9D2A2 48%);
  margin: 8px;
  position: relative;
  margin-top: 18px;
  width: 350px;
  border-radius: 8px;
}

.card-profil-search {
  position: absolute;
  width: 240px;
  height: 385px;
  background-color: transparent;
  border-radius: 10px;
  transition: transform 1s;
  display: flex;
}

.card-profil-search:nth-child(1) {
  transform: rotate(-2deg) scale(0.9);
}

.card-profil-search:nth-child(2) {
  transform: rotate(1deg) scale(0.92);
}

.card-profil-search:nth-child(3) {
  transform: rotate(-1deg) scale(0.94);
}

.card-profil-search:nth-child(4) {
  transform: rotate(2deg) scale(0.96);
}

.card-profil-search:nth-child(5) {
  transform: rotate(0deg) scale(0.98);
}

.card-profil-search:nth-child(6) {
  transform: rotate(-1deg) scale(1);
}

.card-collectors {
  overflow: hidden;
  height: 140px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #F9D2A2 48%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: auto;
  border-radius: 8px;
}
.card-collectors img {
  margin: auto;
  width: 100px;
  object-fit: cover;
}

.card-collectors h2 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin: 0;
}

.card-collectors p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  text-align: left;
  margin-bottom: 0;
  margin-top: 8px;
  color: #19466e;
  min-width: 190px;
}

.card-collectors .card-collectors-infos {
  padding: 16px;
  text-align: left;
  margin: auto;
}

.select-card {
  text-align: center;
  font-size: 22px;
  color: #19466e;
}

.display-cards-collection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 8px;

  .pokemon-cards {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
    margin: 8px;
    height: 258px;
    border-radius: 8px;

    &pokemon-card:hover {
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.8);
    }
  }

  .validate-choice {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 24px;
    padding: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.592875) 3%, #EFB7E9 48%);
    border-radius: 8px;
    color: #19466e;
    font-size: 20px;
    border: none;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  }

  .card-dashboard {
    // margin-top: 50px;
    position: relative;
    font-family: 'Pixelify Sans', sans-serif;

    .form-filter-update {
      margin: 8px;
      padding-left: 12px;
      align-items: center;
    }

    .delete-card {
      position: absolute;
      top: -14px;
      right: -2px;
    }
  }
}

.card-product {
  overflow: hidden;
  width: 400px;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.592874649859944);
  // background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 10%, rgba(46,147,174,0.7637429971988796) 48%);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-top: 36px;
  margin-left: 36px;
}

.card-product p {
  font-size: 24px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #19466e;
}

.card-product .card-product-infos {
  padding: 16px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 24px;
  color: white;
  padding: 16px;
  font-size: 15px;
  font-family: 'Pixelify Sans', sans-serif;
  border-bottom: 1px solid white;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #F9D2A2 48%);
  border: 1px solid #87C4C2;
  border-radius: 8px;
  width: auto;

  h2 {
    margin-bottom: 16px;
    color: #19466e;
  }

  .form-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    input {
      margin-bottom: 16px;
      padding: 8px;
      width: 200px;
      border-radius: 8px;
      border: 1px solid #88B3C4;
    }
  }
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin: 24px;
  color: white;
  padding: 16px;
  font-size: 15px;
  font-family: 'Pixelify Sans', sans-serif;
  border-bottom: 1px solid white;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #EFB7E9 48%);
  border: 1px solid #87C4C2;
  border-radius: 8px;
  width: auto;

  h2 {
    margin-bottom: 16px;
    color: #19466e;
  }

  .form-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;

    input {
      margin-bottom: 16px;
      padding: 8px;
      width: 200px;
      border-radius: 8px;
      border: 1px solid #88B3C4;
    }
  }
}

.modal-content {
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.592874649859944) 3%, #41B4B2 48%);
  border-radius: 8px;
}

.display-collectors {
  margin-top: 80px;

  .title-collectors {
    border: 1px solid #88B3C4;
    box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.1);
    background: white;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.592875) 3%, #41B4B2 48%);
    position: relative;
    margin-bottom: 32px;
    height: 68px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 58px;
  }
}
  .swipe-right {
    animation: swipeRight 2s forwards;
  }

  @keyframes swipeRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  .swipe-left {
    animation: swipeLeft 2s forwards;
  }
  @keyframes swipeLeft {

    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
}
