.card-profil {
  border: 1px solid #88B3C4;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, rgba(46,147,174,0.7637429971988796) 48%);
}
