.pikachu-logo {
  background-image: asset-url("pikachu-logo.png");
  background-repeat: no-repeat;
  background-size: fill;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  width: 400px;
  height: 300px;
  margin-left: 8px;

}
