.pikachu-logo {
  background-image: asset-url("pikachu-logo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  width: 100%;
  height: 250px;
  z-index: 3;
  position: relative;
  // filter: contrast(100%);
}
// .icon-star {
//   background-image: asset-url("icon-star.png");
//   position: absolute;
//   background-repeat: no-repeat;
//   top: 140px;
//   right: 0px;
//   width: 110px;
//   height: 90px;
//   z-index: 1;
// }
.pokeball-1 {
  background-image: asset-url("pokeball-1.png");
  position: absolute;
  background-repeat: no-repeat;
  top: -60px;
  right: 18px;
  width: 130px;
  height: 130px;
  z-index: 2;
}
.pokeball-2 {
  background-image: asset-url("pokeball-2.png");
  position: absolute;
  background-repeat: no-repeat;
  top: 48px;
  left: -70px;
  width: 130px;
  height: 130px;
  z-index: 2;
}
.cards-pokemon {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  justify-content: center;
  gap: 16px;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  border-radius: 16px;
  overflow: hidden;
}

.avatar-dashboard {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 20px;
}
.arrow {
  background-image: asset-url("back-arrow.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 14px;
  left: 14px;
  z-index: 5;
}
.yellow-star {
  background-image: asset-url("yellow-star.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 65px;
  height: 40px;
  margin: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  z-index: 5;
}
.favoris input[type="submit"] {
  align-items: center;
  position: absolute;
  font-family: 'Pixelify Sans', sans-serif;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #EFB7E9 48%);
  color: #19466e;
  border: 1px solid #88B3C4;
  border-radius: 8px;
  top: 55px;
  right: 44px;
  height: 34px;
  width: 141px;
  margin: 8px;
  margin-right: 0px;
  margin-bottom: 0px;
  z-index: 10;
  border: none;
}
.nav-link img{
  width: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;

}
.mobile404 {
  margin: 3px;
  background-image: asset-url("404Mobile.png");
  background-position: center;
  background-size: cover;
  z-index: 5;
  height: 100%;
  width: 100%;
}
