.navbar-lewagon {
  background: transparent;
  justify-content: space-between;
  height: 65px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  position: fixed;
  text-align: center;
  bottom: 0;
  z-index: 6;
  width: 100%;
  max-width: 430px;
  border: 3px solid #a3cfdc;
  margin-top: 0;
  font-size: 30px;
  background: #abd4df !important;
  // background: white !important;
  padding: 6px;
  padding-bottom: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
// .fixed-bottom {
//   background: #abd4df !important;
//   position: fixed;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: 1030;
//   padding: 10px;
//   border: 3px solid #a3cfdc;
// }

.pokeball {
  width: 100px;
  position: absolute;
  left: 38%;
  right: 40%;
  top: -16px;

}
.container-fluid {
  width: 100%;
  max-width: 430px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  .img {
    max-width: 40px !important;
  }
}
.avatar-navbar img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 8px;
  margin-right: 8px;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
}
.modal-content {
  background-color: #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.btn-primary {
  background-color: #19466e !important;
}
.navbar-pokeball {
  width: 70px;
}
