h1 {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 34px;
}

h2  {
  font-family: 'Pixelify Sans', sans-serif;
  color: #19466e;
  text-align: center;
  font-size: 28px;
  margin-top: 24px;
}

p {
  font-family: 'Pixelify Sans', sans-serif;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
}

.title-last-captured {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #41B4B2 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}

.title-collection {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #E1E2A9 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}

.title-favorite-cards {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #FCB5B5 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}

.title-wish-list {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #EFB7E9 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}

.title-exchangeable-cards {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #F9D2A2 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}

.title-current-exchanges {
  align-items: center;
  border: 1px solid #88B3C4;
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.1);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.592874649859944) 3%, #6899C6 48%);
  margin: 8px;
  position: relative;
  margin-bottom: 32px;
  height: 68px;

  h1 {
    color: #19466e;
    margin-top: 12px;
  }
}
