h1 {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 34px;
}

h2  {
  font-family: 'Pixelify Sans', sans-serif;
  color: #19466e;
  text-align: center;
  font-size: 28px;
  margin-top: 24px;
}

p {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
}
