h1 {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 44px;
}

p {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 24px;
}
